{
  "ProductId": "PREENCHA_COM_SEU_PRODUCT_ID",
  "SandboxId": "PREENCHA_COM_SEU_SANDBOX_ID",
  "DeploymentId": "PREENCHA_COM_SEU_DEPLOYMENT_ID",
  "ClientId": "PREENCHA_COM_SEU_CLIENT_ID",
  "ClientSecret": "PREENCHA_COM_SEU_CLIENT_SECRET",
  "EncryptionKey": "PREENCHA_COM_SUA_ENCRYPTION_KEY_64_CHARS_HEX",
  "Environment": "Development"
}
